@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387 !important;

}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}
.navbar a:hover{
  color: #3498db !important;

}
@media (max-width: 991px){
  .navbar-brand{
    font-size: 1.9rem !important;
    color: #565387 !important;
  }
  
  .menu_active{
    font-weight: bold;
    border-bottom: 1px solid #565387 !important;
  
  }
}

/* Header */

#header{
  height: 80vh;
  width: 100%;
  margin-top: 70px;
}
#header h1{
margin: 0 0 10px 0;
font-size: 40px;
font-weight: 700;
color: black;
}

#header .brand-name{
  font-size: 40px;
  color: #3498db;
}
#header h2{
  font-size: 20px;
  color: #484848;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 1px solid #3498db;
  text-decoration: none;
}
#header .btn-get-started:hover{
  background: #3498db;
  color: #fff;
}
.header-img{
  text-align: right;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform:translateY(-10px);
  }
}

@keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform:translateY(-10px);
  }
}

/* Services  */

.card-img-top{
  height: 300px;
  width: 100%;
}
/* //contact */

